@using System.Web;
@using System.Web.Mvc;
@using System.Data;
@using System.Data.SqlClient;
@using System.IO;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.Web.Services;

@{
    ViewBag.Title = "User_Dashboard";
}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <style>
        #toast-container > .toast-success {
            background-color: #28a745 !important;
            opacity: 1 !important;
        }

            #toast-container > .toast-success .toast-message {
                color: #ffffff !important;
            }
    </style>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
</body>
<head>
    <style>
        .card_button {
            transition: 0.30s;
            box-shadow: 10px;
        }

            .card_button:hover {
                transform: scale(1.10);
            }
        /* Number Input Styles */
        .number-input {
            display: flex;
            align-items: center;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            overflow: hidden;
            margin-right: 10px; /* Space between quantity and add-to-cart button */
        }

            .number-input button {
                background-color: #f8f9fa;
                border: none;
                width: 2rem;
                height: 2rem;
                font-size: 1.25rem;
                color: #6c757d;
                cursor: pointer;
                line-height: 1rem;
                padding: 0.25rem 0.5rem;
            }

            .number-input .quantity {
                border: none;
                text-align: center;
                width: 3rem;
                height: 2rem;
                font-size: 1rem;
                outline: none;
                padding: 0.5rem;
                border-left: 1px solid #ced4da;
                border-right: 1px solid #ced4da;
            }

            .number-input input[type="number"] {
                -webkit-appearance: textfield !important;
                -moz-appearance: textfield !important;
                appearance: textfield !important;
            }

            .number-input input[type=number]::-webkit-inner-spin-button,
            .number-input input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }

        /* Cart Quantity Styles */
        .cart_qty {
            display: flex;
            align-items: center;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            overflow: hidden;
            margin-right: 10px; /* Space between quantity and add-to-cart button */
        }

            .cart_qty button {
                background-color: #f8f9fa;
                border: none;
                width: 2rem;
                height: 2rem;
                font-size: 1.25rem;
                color: #6c757d;
                cursor: pointer;
                line-height: 1rem;
                padding: 0.25rem 0.5rem;
            }

            .cart_qty .qty-input {
                border: none;
                text-align: center;
                width: 3rem;
                height: 2rem;
                font-size: 1rem;
                outline: none;
                padding: 0.5rem;
                border-left: 1px solid #ced4da;
                border-right: 1px solid #ced4da;
            }

            .cart_qty input[type="number"] {
                -webkit-appearance: textfield !important;
                -moz-appearance: textfield !important;
                appearance: textfield !important;
            }

            .cart_qty input[type=number]::-webkit-inner-spin-button,
            .cart_qty input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }

        /* Add to Cart Button */
        .add-to-cart {
            background-color: #2457C5; /* Blue background */
            border: none; /* Remove borders */
            color: white; /* White text */
            padding: 10px 20px; /* Some padding */
            text-align: center; /* Centered text */
            text-decoration: none; /* Remove underline */
            display: inline-block; /* Make the button inline */
            font-size: 80%; /* Font size */
            cursor: pointer; /* Pointer/hand icon */
            border-radius: 5px; /* Rounded corners */
            height: 35px; /* Fixed height */
            margin-left: 100%; /* Margin left for spacing */
        }

            .add-to-cart:hover {
                background-color: #254682; /* Darker blue on hover */
            }

        /* Offcanvas Wider */
        .offcanvas-wider {
            width: 700px !important;
        }

        .card-footer {
            display: flex;
            align-items: center;
            padding-top: 1%;
            padding-bottom: 1%;
        }

        .number-input {
            display: flex;
            align-items: center;
            width: 110px;
        }

        .quantity-button {
            background-color: #f8f9fa;
            border: none;
            width: 2rem;
            height: 2rem;
            font-size: 1.25rem;
            color: #6c757d;
            cursor: pointer;
            line-height: 1rem;
            padding: 0.25rem 0.5rem;
        }

        .quantity {
            border: none;
            text-align: center;
            width: 3rem;
            height: 2rem;
            font-size: 1rem;
            outline: none;
            padding: 0.5rem;
            border-left: 1px solid #ced4da;
            border-right: 1px solid #ced4da;
        }

        .add_cart {
            padding-inline: 5%;
        }

        .add-cart-icon {
            width: 100px;
        }
    </style>
</head>
<!-- Button with Image -->
<button class="btn btn-image float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    <img src="~/Shopping Cart.svg" alt="Toggle right offcanvas" style="width: 40px; margin-top: -20%">
</button>
<br />
<br />

<br />
@{
    string conn_str = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\kaysh\source\repos\ECommerce\ECommerce\App_Data\Database1.mdf;Integrated Security=True";
    using (var db = new SqlConnection(conn_str))
    {
        db.Open();
        using (var cmd = db.CreateCommand())
        {
            cmd.CommandType = CommandType.Text;
            cmd.CommandText = "SELECT * FROM PRODUCT";
            using (var reader = cmd.ExecuteReader())
            {
                if (reader.HasRows)
                {
    <div class="row">
        @while (reader.Read())
        {
            var productId = reader["PROD_ID"];
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card card_button" style="height: 300px;">
                    <div class="card-body card-clickable" style="height:50%; cursor: pointer;">
                        <img class="card-img-top" src="../Home/Image?filename=@HttpUtility.UrlEncode(reader["PROD_FILE"] + "")" alt="@reader["PROD_NAME"]" style="height: 150px; object-fit: cover;">
                        <h5 class="card-title d-flex justify-content-between">
                            <p class="product-name" style="font-size: small">
                                @reader["PROD_NAME"]
                                <span hidden>
                                    | @reader["PROD_PRICE"]| @reader["PROD_DESC"]| @reader["PROD_GENDER"]| @reader["PROD_COLOR"]| @reader["PROD_SIZE"]| @reader["PROD_MATERIAL"]| @reader["PROD_CATEGORY"]| @reader["PROD_STOCK"]
                                </span>
                            </p>
                            <span class="product-price" style="font-size: medium">₱@reader["PROD_PRICE"]</span>
                        </h5>
                        @if ((int)reader["PROD_STOCK"] == 0)
                        {
                            <p class="card-text">Stocks: <span style="color:red">Unavailable</span></p>
                        }
                        else
                        {
                            <p class="card-text float-start" style="font-size: small; margin-top: 10%">Stocks: @reader["PROD_STOCK"]</p>
                        }
                    </div>
                    <div class="card-footer" style="padding-top:1%; padding-bottom:1%">
                        <div class="number-input" style="width:115px">
                            <button class="quantity-button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
                            <input class="quantity" min="0" name="quantity" value="0" type="number">
                            <button class="quantity-button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
                        </div>
                        <span>
                            <button class="add_cart btn ml-2" style="padding-inline:5%" data-product-id="@reader["PROD_ID"]">
                                <img src="~/Group 104 (3).svg" style="width:94px" />
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        }

    </div>
                }
            }
        }
    }
}


<!-- Delete Product Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnNo" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnYes">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> <span id="modalProdName"></span></p>
                <p><strong>Price:</strong> ₱<span id="modalProdPrice"></span></p>
                <p><strong>Stocks:</strong> <span id="modalProdStocks"></span></p>
                <p><strong>Gender:</strong> <span id="modalProdGender"></span></p>
                <p><strong>Color:</strong> <span id="modalProdColor"></span></p>
                <p><strong>Size:</strong> <span id="modalProdSize"></span></p>
                <p><strong>Material:</strong> <span id="modalProdMaterial"></span></p>
                <p><strong>Category:</strong> <span id="modalProdCategory"></span></p>
                <p><strong>Description:</strong> <span id="modalProdDesc"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Product Details Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> <span id="modalProdName"></span></p>
                <p><strong>Price:</strong> ₱<span id="modalProdPrice"></span></p>
                <p><strong>Stocks:</strong> <span id="modalProdStocks"></span></p>
                <p><strong>Gender:</strong> <span id="modalProdGender"></span></p>
                <p><strong>Color:</strong> <span id="modalProdColor"></span></p>
                <p><strong>Size:</strong> <span id="modalProdSize"></span></p>
                <p><strong>Material:</strong> <span id="modalProdMaterial"></span></p>
                <p><strong>Category:</strong> <span id="modalProdCategory"></span></p>
                <p><strong>Description:</strong> <span id="modalProdDesc"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<body>
    <!-- Offcanvas -->
    <div class="offcanvas offcanvas-end offcanvas-wider" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @{
                var cus_id = Session["UserId"];
                if (cus_id != null)
                {
                    string conn_string = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\kaysh\source\repos\ECommerce\ECommerce\App_Data\Database1.mdf;Integrated Security=True";
                    using (var db = new SqlConnection(conn_string))
                    {
                        db.Open();
                        using (var cmd = db.CreateCommand())
                        {
                            cmd.CommandType = CommandType.Text;
                            cmd.CommandText = @"
                                                            SELECT
                                                                p.prod_id,
                                                                p.prod_name,
                                                                p.prod_file,
                                                                c.cart_qty,
                                                                p.prod_price,
                                                                c.cart_total
                                                            FROM
                                                                CART c
                                                            JOIN
                                                                PRODUCT p
                                                            ON
                                                                c.prod_id = p.prod_id
                                                            WHERE
                                                                c.cus_id = @cus_id";
                            cmd.Parameters.AddWithValue("@cus_id", cus_id);
                            using (var reader = cmd.ExecuteReader())
                            {
                                <table border="1" id="datatable" class="table table-group-divider">
                                    <thead>
                                        <tr>
                                            <th width="20%"></th>
                                            <th width="15%"></th>
                                            <th width="10%"></th>
                                            <th width="17%"></th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @while (reader.Read())
                                        {
                                            var prodId = reader["prod_id"].ToString();
                                            var prodName = reader["prod_name"].ToString();
                                            var prodImage = reader["prod_file"].ToString();
                                            var cartCount = reader["cart_qty"].ToString();
                                            var totalPrice = reader["cart_total"].ToString();
                                            var unitPrice = (double.Parse(totalPrice) / int.Parse(cartCount)).ToString("F2");

                                            <tr class="items">
                                                <td hidden class="prod_id">@prodId</td>
                                                <td style="text-align: center">
                                                    <img src="../Home/Image?filename=@HttpUtility.UrlEncode(prodImage)" width="50%" />
                                                </td>
                                                <td class="prod-id align-content-center">@prodName</td>
                                                <td class="align-content-center">
                                                    <span class="align-content-center" id="price-@prodId" data-unit-price="@unitPrice">@totalPrice</span>
                                                </td>
                                                <td class="align-content-center">
                                                    <div class="cart_qty" style="width:67%">
                                                        <button type="button" class="qty-btn qty-btn-decrement" onclick="decrementQuantity('@prodId')">-</button>
                                                        <input type="text" id="qty-@prodId" value="@cartCount" readonly class="qty-input" />
                                                        <button type="button" class="qty-btn qty-btn-increment" onclick="incrementQuantity('@prodId')">+</button>
                                                    </div>
                                                </td>
                                                <td class="align-content-center">
                                                    <span>
                                                        <button type="button" name="btn_delete" class="btn btn-danger btnDelete" id="btnDelete" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                            <img src="~/Delete.svg" alt="Edit" style="width: 20px; height: 20px; margin-top: -25%; margin-left:3%" class="ml-4" />
                                                        </button>
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    }
                }
                else
                {
                    <p>User not logged in.</p>
                }
            }
        </div>
    </div>
</body>
<span>
    <button type="button" class="btn btn-danger float-end" id="btnLogout" style="width:11%">
        <img src="~/🦆 icon _logout_ (1).svg" alt="Edit" style="width: 20px; height: 20px; margin-top: -5%; margin-right: 10px" />Logout
    </button>
</span>
<br />
<br />
<br />

<script src="~/Scripts/Jquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/MyJquery/Product_Link.js"></script>
<script src="~/Scripts/MyJquery/Cart.js"></script>